<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <div class="navbar-brand-wrapper">
                <img src="assets/images/logo.jpg" alt="RMS Impact Logo">
                <div class="header-text">
                    <span class="header-slogan">Énergie, Eau et Internet pour tous</span>
                    <span class="header-odd">Une initiative qui participe à la réalisation des ODD</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index.html">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">À Propos</a></li>
                <li class="nav-item"><a class="nav-link" href="leadership.html">Gouvernance</a></li>
                <li class="nav-item"><a class="nav-link" href="projects.html">Projets</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="countriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pays Cibles
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="countriesDropdown">
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/bj.svg" alt="Drapeau Bénin" class="flag-icon">Bénin</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/bf.svg" alt="Drapeau Burkina Faso" class="flag-icon">Burkina Faso</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/cv.svg" alt="Drapeau Cabo Verde" class="flag-icon">Cabo Verde</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ci.svg" alt="Drapeau Côte d'Ivoire" class="flag-icon">Côte d'Ivoire</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gm.svg" alt="Drapeau Gambie" class="flag-icon">Gambie</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gh.svg" alt="Drapeau Ghana" class="flag-icon">Ghana</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gn.svg" alt="Drapeau Guinée" class="flag-icon">Guinée</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gw.svg" alt="Drapeau Guinée-Bissau" class="flag-icon">Guinée-Bissau</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/lr.svg" alt="Drapeau Liberia" class="flag-icon">Liberia</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ml.svg" alt="Drapeau Mali" class="flag-icon">Mali</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/mr.svg" alt="Drapeau Mauritanie" class="flag-icon">Mauritanie</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ne.svg" alt="Drapeau Niger" class="flag-icon">Niger</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ng.svg" alt="Drapeau Nigeria" class="flag-icon">Nigeria</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/sn.svg" alt="Drapeau Sénégal" class="flag-icon">Sénégal</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/sl.svg" alt="Drapeau Sierra Leone" class="flag-icon">Sierra Leone</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/tg.svg" alt="Drapeau Togo" class="flag-icon">Togo</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ga.svg" alt="Drapeau Gabon" class="flag-icon">Gabon</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/td.svg" alt="Drapeau Tchad" class="flag-icon">Tchad</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ao.svg" alt="Drapeau Angola" class="flag-icon">Angola</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ke.svg" alt="Drapeau Kenya" class="flag-icon">Kenya</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/tz.svg" alt="Drapeau Tanzanie" class="flag-icon">Tanzanie</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/sd.svg" alt="Drapeau Soudan" class="flag-icon">Soudan</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ss.svg" alt="Drapeau Soudan du Sud" class="flag-icon">Soudan du Sud</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="investors.html">Investisseurs</a></li>
                <li class="nav-item"><a class="nav-link" href="blog.html">Actualités</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="index_en.html">EN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>