<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index_en.html">
            <div class="navbar-brand-wrapper">
                <img src="/assets/images/logo.jpg" alt="RMS Impact Logo">
                <div class="header-text">
                    <span class="header-slogan">Energy, Water, and Internet for All</span>
                    <span class="header-odd">An initiative contributing to the achievement of the SDGs</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link" href="/index_en.html">Home</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="projectDropdownEn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        The Project
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="projectDropdownEn">
                        <li><a class="dropdown-item" href="/about_en.html">About Us</a></li>
                        <li><a class="dropdown-item" href="/leadership_en.html">Leadership</a></li>
                        <li><a class="dropdown-item" href="/projects_en.html">Projects</a></li>
                        <li><a class="dropdown-item" href="/target-countries_en.html">Target Countries</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="involvedDropdownEn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Get Involved
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="involvedDropdownEn">
                        <li><a class="dropdown-item" href="/investors_en.html">Invest</a></li>
                        <li><a class="dropdown-item" href="/support-us.html">Donate</a></li>
                        <li><a class="dropdown-item" href="/submit-project.html">Submit a Project</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="mediaDropdownEn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Media
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mediaDropdownEn">
                        <li><a class="dropdown-item" href="/blog_en.html">News</a></li>
                        <li><a class="dropdown-item" href="/press_en.html">Press</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="/contact_en.html">Contact</a></li>

                <li class="nav-item ms-lg-2">
                    <a class="nav-link" href="/index.html">FR</a>
                </li>
            </ul>
        </div>
    </div>
</nav>