<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <div class="navbar-brand-wrapper">
                <img src="/assets/images/logo.jpg" alt="RMS Impact Logo">
                <div class="header-text">
                    <span class="header-slogan">Énergie, Eau et Internet pour tous</span>
                    <span class="header-odd">Une initiative qui participe à la réalisation des ODD</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index.html">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="/about.html">À Propos</a></li>
                <li class="nav-item"><a class="nav-link" href="/leadership.html">Gouvernance</a></li>
                <li class="nav-item"><a class="nav-link" href="/projects.html">Projets</a></li>
                <li class="nav-item"><a class="nav-link" href="target-countries.html">Pays Cibles</a></li>
                
                <li class="nav-item"><a class="nav-link" href="/investors.html">Investisseurs</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog.html">Actualités</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/index_en.html">EN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>