<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index_en.html">
            <div class="navbar-brand-wrapper">
                <img src="assets/images/logo.jpg" alt="RMS Impact Logo">
                <div class="header-text">
                    <span class="header-slogan">Energy, Water, and Internet for All</span>
                    <span class="header-odd">An initiative contributing to the achievement of the SDGs</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="index_en.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about_en.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="leadership_en.html">Leadership</a></li>
                <li class="nav-item"><a class="nav-link" href="projects_en.html">Projects</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="countriesDropdownEn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Target Countries
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="countriesDropdownEn">
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/bj.svg" alt="Benin Flag" class="flag-icon">Benin</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/bf.svg" alt="Burkina Faso Flag" class="flag-icon">Burkina Faso</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/cv.svg" alt="Cabo Verde Flag" class="flag-icon">Cabo Verde</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ci.svg" alt="Côte d'Ivoire Flag" class="flag-icon">Côte d'Ivoire</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gm.svg" alt="Gambia Flag" class="flag-icon">Gambia</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gh.svg" alt="Ghana Flag" class="flag-icon">Ghana</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gn.svg" alt="Guinea Flag" class="flag-icon">Guinea</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/gw.svg" alt="Guinea-Bissau Flag" class="flag-icon">Guinea-Bissau</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/lr.svg" alt="Liberia Flag" class="flag-icon">Liberia</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ml.svg" alt="Mali Flag" class="flag-icon">Mali</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/mr.svg" alt="Mauritania Flag" class="flag-icon">Mauritania</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ne.svg" alt="Niger Flag" class="flag-icon">Niger</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ng.svg" alt="Nigeria Flag" class="flag-icon">Nigeria</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/sn.svg" alt="Senegal Flag" class="flag-icon">Senegal</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/sl.svg" alt="Sierra Leone Flag" class="flag-icon">Sierra Leone</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/tg.svg" alt="Togo Flag" class="flag-icon">Togo</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ga.svg" alt="Gabon Flag" class="flag-icon">Gabon</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/td.svg" alt="Chad Flag" class="flag-icon">Chad</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ao.svg" alt="Angola Flag" class="flag-icon">Angola</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ke.svg" alt="Kenya Flag" class="flag-icon">Kenya</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/tz.svg" alt="Tanzania Flag" class="flag-icon">Tanzania</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/sd.svg" alt="Sudan Flag" class="flag-icon">Sudan</a></li>
                        <li><a class="dropdown-item" href="#"><img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/flags/4x3/ss.svg" alt="South Sudan Flag" class="flag-icon">South Sudan</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="investors_en.html">Investors</a></li>
                <li class="nav-item"><a class="nav-link" href="blog_en.html">News</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">FR</a>
                </li>
            </ul>
        </div>
    </div>
</nav>