<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index_en.html">
            <div class="navbar-brand-wrapper">
                <img src="/assets/images/logo.jpg" alt="RMS Impact Logo">
                <div class="header-text">
                    <span class="header-slogan">Energy, Water, and Internet for All</span>
                    <span class="header-odd">An initiative contributing to the achievement of the SDGs</span>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/index_en.html">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about_en.html">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/leadership_en.html">Leadership</a></li>
                <li class="nav-item"><a class="nav-link" href="/projects_en.html">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="target-countries_en.html">Target Countries</a></li>
                
                <li class="nav-item"><a class="nav-link" href="/investors_en.html">Investors</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog_en.html">News</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact_en.html">Contact</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/index.html">FR</a>
                </li>
            </ul>
        </div>
    </div>
</nav>